﻿@model GerenciadorFrotas.Model.Veiculo

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar um veículo existente</h2>

<h3>Tem certeza que deseja deletar este veículo?</h3>
<div>
    <h4>Veiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Chassi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chassi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoVeiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoVeiculo, "Tipo de veículo")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroPassageiros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroPassageiros, "Número de passageiros")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para a listagem", "Index")
        </div>
    }
</div>
